/* alert */
.alert {
	position: fixed;
	z-index: 10;
	background-color: #ffff96;
	border: 1px solid #f4f464;
	top: 10px;
	border-radius: $border-radius;
	padding: $padding;
	font-family: open_sanssemibold, Arial, sans-serif;
	min-width: 25%;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
	display: none;

	&--d-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	&__text {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;

		p {
			margin: 0;
		}
	}

	&__action {
		-ms-flex-preferred-size: 30px;
		flex-basis: 30px;

		font-weight: bold;
		font-size: 1.1rem;
		text-align: right;

		a {
			color: #cacc69;
			text-decoration: none;
		}
	}
}