/* main */
.card {
	position: relative;
	border: $border-gray;
	border-radius: $border-radius;
	transition: .2s ease-in-out;

	&:hover {
		z-index: 1;
		box-shadow: 0 5px 10px rgba(0,0,0,.12);
	}

	&__initial-message,
	&__primary {
		text-align: center;
		padding: $padding;
	}

	&__initial-message {
		display: none;

		&--d-block {
			display: block;
		}
	}

	&__primary--d-none {
		display: none;
	}

	&__header h4, &__header p, &__header select {
		margin: 0;
		line-height: 1.5;
	}

	&__header h4 {
		margin-bottom: 5px;
		font-family: open_sanssemibold, Arial, sans-serif;
	}

	&__header p, &__header select {
		font-size: 1.2rem;
	}

	&__header select {
		border: none;
		background-color: #fff;
		padding-right: 15px;

		-webkit-appearance: none;
		appearance: none;
		background: url('data:image/svg+xml,<svg version="1.1" viewBox="0 0 16 16" fill="%23565656" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
		background-repeat: no-repeat;
		background-position-x: 100%;
		background-position-y: center;
		background-size: 13px;

		&:hover {
			cursor: pointer;
		}
	}

	&__status {
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;

		@media (max-width: 365px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__icon {
		flex: 1;
		text-align: right;
		padding: 5px;

		@media (max-width: 365px) { 
			text-align: center; 

			svg { width: 140px; }
		}
	}

	&__suhu {
		flex: 1.1;
		text-align: left;
		padding: 9px 5px;

		@media (max-width: 365px) { text-align: center; width: 50%; }

		h1, h5 {
			display: inline-block;
			margin: 0;
		}

		h1 {
			font-family: open_sanssemibold, Arial, sans-serif;
			font-size: 4rem;
			float: left;
			padding-right: 5px;
		}

		h5 {
			font-weight: normal;
			margin-top: 10px;

			&:first-child {
				margin-left: 100px;
			}
		}

		a {
			color: #007bff;
			text-decoration: none;

			&:hover {
				color: #0056b3; 
			}
		}

		a#{&}Celsius--active,
		a#{&}Fahrenheit--active {
			color: #333;
			pointer-events: none; 
		}
	}

	&__secondary {

		&--d-none {
			display: none;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 1.5rem;
			line-height: 1.3rem;
		}

		table tr td,
		table tr th {
			border-top: 1px dashed #f4f4f4;
			text-align: left;
			padding: 15px 20px;
			background-color: #fcfcfc;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}

		table tr th {
			font-family: open_sanssemibold, Arial, sans-serif;
		}
	}
}